﻿@{
    @ViewBag.Title;
  
}

<h2>@ViewBag.Message</h2>
@section toptable{
    <link rel="Stylesheet" type="text/css" href="../../Content/toptable.css" />

    <table style="border-style:none  !important">
        <tr>
            <td >
                <p>
                    <iframe width="420" height="315" src="http://www.youtube.com/embed/9k5ooaufrLM" frameborder="0" allowfullscreen"></iframe>
                </p>
            </td>
            <td>
                <br />
                <span>Welcome the the kitchen accounting system for Kitchen 18.5 at Tietgenkollegiet.</span><br />
                <ul>
                    <li>To find out if you owe money or not go to "Total" above. </li>
                    <li>"Expenses" can be used to view and add expenses.</li> 
                    <li>Bank information can be found under "Payments"</li>
                    <li>The rest of the pages are mostly for use by the kitchen accountant.</li>
                </ul>
                <br />
                 The kitchen accountant is currently <a href="http://www.jsiv.dk">Johan</a> in room 552 who also made this webpage.
            </td>
        </tr>
    </table>
}

