﻿@model TietgenRegnskab.Models.Druk

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Druk</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Drukket_Af)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Drukket_Af)
            @Html.ValidationMessageFor(model => model.Drukket_Af)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Dato)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dato)
            @Html.ValidationMessageFor(model => model.Dato)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Antal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Antal)
            @Html.ValidationMessageFor(model => model.Antal)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Stk_pris)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Stk_pris)
            @Html.ValidationMessageFor(model => model.Stk_pris)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
