﻿@model IEnumerable<TietgenRegnskab.Models.Total_Rapport>

@{
    ViewBag.Title = "Index";
}

<h2>Total Overview!</h2>

<table>
    <tr>
        <th>
            Id
        </th>
        <th>
            Room
        </th>
        <th>
            Name
        </th>
        <th>
            Beer
        </th>
        <th>
            Bills
        </th>
        <th>
            Payments
        </th>
        <th>
            Fronted money
        </th>
        <th>
            Total
        </th>
    </tr>

@foreach (var item in Model.OrderBy(r=>r.Værelse)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Beboer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Værelse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Navn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Øl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Delte_Udgifter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Indbetalinger)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Udlæg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
    </tr>
}

</table>
