﻿@model TietgenRegnskab.Models.Indbetaling

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Indbetaling</legend>

        <div class="editor-label">  
            @Html.LabelFor(model => model.Betaling_fra)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model =>model.Betaling_fra,new SelectList(Model.BeboerList,"ID","Name",Model.BeboerList),"--Vælg Beboer--")
            @Html.ValidationMessageFor(model => model.Betaling_fra)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Dato)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dato)
            @Html.ValidationMessageFor(model => model.Dato)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Beloeb)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Beloeb)
            @Html.ValidationMessageFor(model => model.Beloeb)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
