﻿@model IEnumerable<TietgenRegnskab.Models.Indbetaling>

@{
    ViewBag.Title = "Payments";
}

<h2>Payments</h2>

<p>
    This page is used by the kitchen accountant to add payments.<br />
    To pay your bills you can pay in cash to the kitchen accountant or notify him/her upon wireing the money to:<br />
    <b>Reg: 7648<br />
    Acc: 4669767 <br />
    </b>
    Remember to write your room number in the comment of the transfer.<br />

    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Payed by
        </th>
        <th>
            Date
        </th>
        <th>
            Amount
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Beboer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beloeb)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
