﻿@model TietgenRegnskab.Models.UdgiftCreateData

@{
    ViewBag.Title = "Edit";
}


@{ 
    Html.EnableClientValidation(false); 
    } 


<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
 <fieldset>
        <legend>Expense</legend>

        <div class="editor-label">  
            @Html.LabelFor(model => model.Udgift.Beboer_ID)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model =>model.Udgift.Beboer_ID,new SelectList(Model.BeboerChecklist.Keys,"ID","Name",Model.BeboerChecklist),"--Vælg Beboer--")
            @Html.ValidationMessageFor(model => model.Udgift.Beboer_ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Udgift.Beloeb)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Udgift.Beloeb)
            @Html.ValidationMessageFor(model => model.Udgift.Beloeb)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Udgift.Beskrivelse)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Udgift.Beskrivelse)
            @Html.ValidationMessageFor(model => model.Udgift.Beskrivelse)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Udgift.Dato)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Udgift.Dato)
            @Html.ValidationMessageFor(model => model.Udgift.Dato)
        </div>
        
        @foreach (var beboer in @Model.BeboerChecklist)
        {
            @Html.CheckBox(beboer.Key.Name, beboer.Value);
            @Html.Label(beboer.Key.Name);
            <br />
        }
        
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
