﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <a style="text-decoration:none"  href="../Home/Index"><h1>18.5 Kitchen Accounting</h1></a>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <div id="menucontainer">
                <ul id="menu">                   
                    <li>@Html.ActionLink("Total", "Index", "Total")</li>
                    <li>@Html.ActionLink("Expenses", "Index", "Udgift")</li>
                    <li>@Html.ActionLink("Drinking", "Index", "Druk")</li>
                    <li>@Html.ActionLink("Residents","Index","Beboer")</li>          
                    <li>@Html.ActionLink("Payments","Index","Payment")</li>                          
                </ul>
            </div>
        </div>
        <div id="main">
            @RenderBody()
            @RenderSection("toptable",false)
        </div>
        <div id="footer">
        </div>
    </div>
</body>
</html>
